- content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
  %td.email= h resource.try(:email)
  %td.first_name= h resource.try(:first_name)
  %td.last_name= h resource.try(:last_name)
  %td.birth_date= h resource.try(:birth_date)
  %td.location= h resource.try(:location)
  %td.actions
    = link_to 'Show', resource_path(resource)
    |
    = link_to 'Edit', edit_resource_path(resource)
    |
    = link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete